* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(155, 18, 18, 0.329);
    
}

.high-scores {
    font-size: 32px;
    text-decoration: none;
}

.page-title {
    font-size: 69px;
    font-weight: bold;
}

.countdown {
    font-size: 32px;
}