* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    background-color: rgba(109, 3, 3, 0.664);
}

.high-scores {
    font-size: 32px;
    text-align: left;
    width: 20%;
}

.high-scores a {
    text-decoration: none;
}

.page-title {
    font-size: 69px;
    font-weight: bold;
    text-align: center;
    width: 60%;
}

.countdown {
    font-size: 32px;
    text-align: right;
    width: 20%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: 1em auto;
    padding: 2em;
    background-color: pink;
    border: solid rgba(109, 3, 3, 0.664) 2px;
    border-radius: 1%;
    text-align: center;
}

 .begin-quiz h2 {
    color:rgba(109, 3, 3, 0.664);
    font-style: italic;
    margin: 0.5em;
    font-size: 32px;
 }
 
 .begin-quiz p {
     line-height: 1.3;
 }

 .b-q-g-l {
    line-height: 2;
    font-size: 20px;
    font-weight: bolder;
    color: blueviolet;
 }

 .begin-quiz h3 {
    color:rgba(109, 3, 3, 0.664);
    font-style: italic;
    margin: 0.5em;
    font-size: 28px;
 }

 .begin-quiz button {
    width: 20%;
    padding: 1em;
    margin: 0 auto;
    border: none;
    border-radius: 10%;
    font-weight: bolder;
 }

.question-card h2 {
    text-align: center;
    font-size: 50px;
    border-bottom: solid 3px maroon;
    margin: 0.1em auto;
}

.question-card ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 1em;
    text-align: left;
}

.question-card-button {
    width: 10%;
    height: 2em;
    margin: 0 0.5em 0.5em auto;
    background-color: beige;
    border: none;
    border-radius: 10%;
    font-weight: bolder;   
} 